body {
  font: icon;
}

video, canvas {
  max-height: 45vh;
  max-width: 45vw;
}

video:not([src]) {
  display: none;
}

canvas:not([title]) {
  display: none;
}

input[type="range"] {
  width: calc(100vw - 20px);
}

button {
  display: block;
}
